

#if ($myTama)

  <p> Welcome back owner of $myTama.getName()</p>
#else
<form action="/home" method="post">
  <div class="form-group">
    <label for="name">Name Your Pet</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit" class="btn">Submit</button>
</form>
#end


<a href="/checker">Check my Pet</a>
