<form action="/tamagotchi" method="post">
  <div class="form-group">
    <label for="feed">Feed</label>
    <input id="feed" value="feed" name="user-action" type="button">
    </div>
  <div class="form-group">
    <label for="play">Play</label>
    <input value ="play" id="play" name="user-action" type="button">
  </div>
  <div class="form-group">
    <label for="rest">Rest</label>
    <input value="rest" id="rest" name="user-action" type="button">
  </div>
</form>
