#if ($name)
  <p>$name</p>
#else
<form action="/home" method="post">
  <div class="form-group">
    <label for="name">Name Your Pet</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit" class="btn">Submit</button>
</form>
#end

<p>$name after loop</p>
<a href="/">Go home</a>
